<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ouwenjie.note" >

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />

    <application
        android:name=".NoteApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_jide_512"
        android:label="记得"
        android:theme="@style/MyAppBaseTheme" >

        <!-- Umeng 配置 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="555bfe3267e58e6caf0011fe" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Github" />

        <!-- Sugar ORM 相关配置 -->
        <meta-data
            android:name="DATABASE"
            android:value="notes.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.ouwenjie.note" />


        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.EditNoteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ImageViewPagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AlarmActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.umeng.fb.ConversationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.IntroduceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.account.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".activity.account.UserCenterActivity"
            android:label="@string/title_activity_user_center"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ThanksActivity"
            android:label="@string/title_activity_thanks"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.AboutMeActivity"
            android:label="@string/title_activity_about_me"
            android:screenOrientation="portrait" >
        </activity>

        <!-- Tencent SDK -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:noHistory="true"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent1104609349" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />
        <!-- End Tencent SDK -->


        <receiver android:name=".receiver.NoteAlarmReceiver" />

    </application>

</manifest>
